.border{
    border-style: solid;
    border-width: 2px;
}

.start{
    float: left;
}

.end{
    float: right
}

.clearfloat{
    clear: both;
}

#header{
    margin: auto;
    margin-bottom: 2%;
    width: 80%;
    align-content: center;
    
}